@model PriceTracker
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Prcies Dashboard Monitor</h1>
<h2>Current Prices</h2>


    <form method="POST" asp-controller="PriceDashboard" asp-action="@(Model==null ? "AddPriceToTrack" : "EditSave" )">
        <div class="form-group">
            <label asp-for="Name">Item name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="URL">URL</label>
            <input asp-for="URL" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="XPath">XPath</label>
            <input asp-for="XPath" class="form-control" />
        </div>

        <div class="form-group">
            @if (Model == null)
            {
                <input type="submit" value="Add new" />
            }
            else
            {
                <input hidden asp-for="Id" />
                <input hidden asp-for="UpdatedDate" />
                <input type="submit" value="Save changes" />
                @Html.ActionLink("Cancel", "Index")
            }

        </div>
    </form>

    @*@if(@Model != null)
        {
        <form method="post" asp-controller="PriceDashboard" asp-action="Edit">
            <div class="form-group">
                @Html.DisplayFor(d => d.Name);
                @Html.EditorFor(d => d.Name);
                @Html.DisplayFor(d => d.URL);
                @Html.DisplayFor(d => d.XPath);
            </div>
        </form>
        }*@


    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>URL</th>
                <th>XPath</th>
                <th>UpdatedDate</th>
                <th>LastValue</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.PricesToTrack)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.URL</td>
                    <td>@item.XPath</td>
                    <td>@item.UpdatedDate</td>
                    <td>@item.LastValue</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink("Check values", "GetData")
    
    @*@section Scripts {
            <script>src = "~/js/addNewItem.jcs"</script>
        }*@

    <vc:latest-item></vc:latest-item>
